name: Generate_Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: ${{ github.repository_owner }}
          
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/costume01.svg?color_snake=#090084&color_dots=#f6ecff,#deb6ff,#c67fff,#ae48ff,#8e00ff
            dist/blue.svg?color_snake=#0e00c7&color_dots=#cce7ff,#99d0ff,#66b8ff,#339fff,#0077cc
            dist/navi.svg?color_snake=#2f5d80&color_dots=#a0fffb,#71d1f1,#4792e3,#2146d5,#0d00c7
            dist/white.svg?color_snake=#cb0800&color_dots=#ffffff,#bfbfbf,#7f7f7f,#3f3f3f,#000000

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
