name: Generate_Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v3
        id: snake
        with:
          github_user_name: ${{ github.repository_owner }}
          
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
            dist/costume01.svg?color_snake=#090084&color_dots=#f6ecff,#deb6ff,#c67fff,#ae48ff,#8e00ff
            dist/blues.svg?color_snake=#ffd700&color_dots=#cce7ff,#99d0ff,#66b8ff,#339fff,#0077cc

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
